@import url(_reset.css);
@import url(_variables.css);

*{
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  
}

html{
  font-size: 10px;
  font-family: var(--font-poppins);
  scroll-behavior: smooth;

}

.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}