.cta{
  display: inline-block;
  padding: 10px 30px;

  font-size: 2rem;

  color: var(--yellow);
  background-color: transparent;
  border: 2px solid var(--yellow);
  border-radius: 10px;

  text-transform: uppercase;
  letter-spacing: .1rem;

  margin-top: 20px;
  
  transition: .4s ease;
  transition-property: background-color, color;
  
}

.cta:hover{
  color: var(--white);
  font-weight: 500;
  background-color: var(--yellow);

}