.project-img{
  flex-basis: 50%;
  height: 300px;  
  overflow: hidden;
  position: relative;

}

.project-img:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, var(--dark-gray) 0%, var(--light-gray) 100%);
  opacity: 0.7;

}

img{
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.project-img img{
  transition: 0.5s ease transform;

}

.project-item:hover .project-img img{
  transform: scale(1.1);
  
}