/**/
@media screen and (min-width: 768px){
  .project-item{
    flex-direction: row;
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;

  }

  .all-projects .project-info{
    height: 100%;
    
  }

  .all-projects .project-img{
    height: 100%;

  }

  .project-item:nth-child(even){
    flex-direction: row-reverse;

  }
    
}