@import url(_keyframes.css);

.title{
  display: block;
  width: fit-content;
  font-size: 5rem;
  font-weight: 700;
  position: relative;

  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
}

#presentation h1:nth-child(1){
  animation-delay: .8s;
}

#presentation h1:nth-child(2){
  animation-delay: 1.8s;
}

#presentation h1:nth-child(3){
  animation: text_reveal_name .5 ease forwards;
  animation-delay: 3s;
}

.title span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;

  animation: text_reveal_box 1s ease;
  animation-delay: .5s;

  background-color: var(--yellow);

}

#presentation h1:nth-child(1) span{
  animation-delay: .5s;
  
}

#presentation h1:nth-child(2) span{
  animation-delay: 1.5s;
  
}

#presentation h1:nth-child(3) span{
  animation-delay: 2.5s;
  
}